@import '~antd/lib/pagination/style/index.css';
@import '~antd/lib/form/style/index.css';
@import '~antd/lib/drawer/style/index.css';
@import '~antd/lib/grid/style/index.css';
@import '~antd/lib/input/style/index.css';
@import '~antd/lib/select/style/index.css';
@import '~antd/lib/button/style/index.css';
@import '~antd/lib/tree/style/index.css';
@import '~antd/lib/checkbox/style/index.css';
@import '~antd/lib/radio/style/index.css';
@import '~antd/lib/typography/style/index.css';
@import '~antd/lib/tooltip/style/index.css';
@import '~antd/lib/divider/style/index.css';
@import '~antd/lib/dropdown/style/index.css';
@import '~antd/lib/tooltip/style/index.css';
@import '~antd/lib/table/style/index.css';


.ant-select-dropdown,
.ant-drawer,
.tracker-element {
  z-index: 999999999999 !important;
}

.ant-form-item-label label {
  font-weight: 600;
}