.tracker-menu {
  position: relative;
  z-index: 99999;
}

.tracker-menu .tracker-add-button {
  position: fixed;
  bottom: 10px;
  left: 50%;
  z-index: 9999;
}

.activeElement {
  transition: none !important;
}

.tracker-overlay {
  display: none;
}

.activeElement:hover {
  outline-style: dashed !important;
  outline-width: 2px !important;
  outline-color: #43b0c1 !important;
}

.activeElement:hover .tracker-overlay {
  display: block;
}

.tracker-topbar {
  position: fixed;
  top: 0;
}

.tracker-topbar h3 {
  font-size: 11px !important;
}

.tracker-header {
  position: fixed;
  left: 50%;
  z-index: 9;
  top: 0;
  display: block;
}