.activeElement {
  transition: none !important;
}

.activeElement:hover {
  outline-style: auto !important;
  outline-width: 2px !important;
  outline-color: black !important;
}

.tracker-topbar {
  position: fixed;
  top: 0;
}

.tracker-topbar h3 {
  font-size: 11px !important;
}

.tracker-menu {
  position: fixed;
  background: #f1f3f2;
  box-shadow: 1px 1px 8px #b1b1b1;
  right: 0;
  top: 0;
  height: 100%;
  width: 350px;
  padding: 20px;
  z-index: 9999;
  transition: .2s all;
}